:root {
  --light-bg: rgb(245, 241, 241);
  --dark-bg: rgb(53, 52, 52);
  --light-card-bg: #fdfbfb;
  --dark-card-bg: rgb(90, 88, 88);
  --light-border: grey;
  --light-txt: rgb(26, 24, 24);
  --dark-txt: #f3f1f1;
  --light-control-btns: rgba(128, 128, 128, 0.5);
  --dark-control-btns: #fdfbfbd8;
}

*,
*::before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
html {
  font-size: 100%;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--light-txt);
  background-color: var(--light-bg);
  position: relative;
}

.header {
  display: flex;
  width: 100%;
  padding: 1em 0;
  margin-bottom: 2em;
}
.page-container {
  max-width: 1960px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__new-task {
  background-color: tomato;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all 0.5s;
}

.header__new-task:hover {
  transform: rotate(90deg);
}

.header__title {
  font-size: 1rem;
}
.user-menu {
  display: flex;
  align-items: baseline;
}
.user-manu__username {
  font-size: 1rem;
  font-weight: normal;
  margin-right: 1em;
  text-transform: lowercase;
}
.user-menu__logout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: tomato;
  transition: all 0.5s;
}

.user-menu__logout:hover {
  color: var(--light-txt);
}

.main {
  height: 100%;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}
.board__title {
  font-size: 2rem;
  margin-bottom: 2em;
  text-align: center;
  max-width: 70vw;
}

.kanban {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.kanban__inner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100%;
}

.column::before {
  content: attr(data-column-id);
}

.column:not(:last-child) {
  margin-right: 1em;
}

.column__title {
  font-size: 0.9rem;
  margin-bottom: 1em;
}
.column-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  min-height: 200px;
  height: 100%;
  border-radius: 10px;
}

.column-list__item {
  margin-bottom: 0.7em;
  width: 100%;
}
.task {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 1.5em 1em;
  transition: all 0.5s;
  cursor: pointer;
  background-color: var(--light-card-bg);
  cursor: -webkit-grab;
  cursor: grab;
}

.task::before {
  content: attr(data-task-id);
  color: tomato;
}

.task:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.task:hover {
  box-shadow: 4px 4px 8px 0px rgb(255, 99, 71, 0.2);
}

.task:hover .task__controls {
  opacity: 1;
}

.task__controls {
  display: flex;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  opacity: 0;
  transition: opacity 0.5s;
}
.task__btn {
  font-size: 0.75em;
  color: var(--light-control-btns);
  transition: color 0.5s;
}

.task__btn:hover {
  color: tomato;
}

.task__btn--edit {
}
.fa-solid {
}
.fa-pen {
}
.task__btn--delete {
}
.fa-trash-can {
}

.task__title {
  margin-bottom: 0.5em;
}
.task__description {
}
.on-hold .task {
  background-color: tomato;
}

.on-hold {
  border: 2px dashed rgb(187, 117, 183);
}

.hidden {
  display: none;
}

.hovered {
  background-color: rgb(255, 99, 71, 0.1);
}

/*popup*/

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  left: 0;
  top: 0;
}

.popup.hidden {
  display: none;
}

.popup__content {
  background-color: var(--light-card-bg);
  max-width: 500px;
  width: calc(100% - 2em);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  box-shadow: 4px 4px 8px 0px rgb(255, 99, 71, 0.2);
  z-index: 11;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 2em;
  border-radius: 10px;
  border-bottom: 2px solid tomato;
}

.popup__close-btn {
  position: absolute;
  color: var(--light-txt);
  right: 1em;
  top: 1em;
  font-size: 1.2em;
  transition: color 0.5s;
}

.popup__close-btn:hover {
  color: tomato;
}

.add-task-popup {
}

.popup__title {
  margin-bottom: 1em;
}
.popup__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input {
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 0.5em;
  width: 100%;
  border: 2px solid var(--light-border);
  outline: tomato;
  font-family: "IBM Plex Sans", sans-serif;
  transition: border 0.5s;
  background-color: transparent;
  color: inherit;
}

.input:active,
.input:focus {
  border-color: tomato;
}

.input::-webkit-input-placeholder {
  font-family: "IBM Plex Sans", sans-serif;
}

.input::-moz-placeholder {
  font-family: "IBM Plex Sans", sans-serif;
}

.input:-ms-input-placeholder {
  font-family: "IBM Plex Sans", sans-serif;
}

.input::-ms-input-placeholder {
  font-family: "IBM Plex Sans", sans-serif;
}

.input::placeholder {
  font-family: "IBM Plex Sans", sans-serif;
}

textarea.input {
  resize: vertical;
}

.popup__submit {
  background-color: tomato;
  color: #fff;
  border-radius: 10px;
  padding: 0.5em 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: opacity 0.5s;
}

.popup__submit:hover {
  opacity: 0.5;
}

.popup__submit:active {
  background-color: rgb(212, 79, 55);
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg);
    color: var(--dark-txt);
  }

  .task {
    background-color: var(--dark-card-bg);
  }

  .task__btn {
    color: var(--dark-control-btns);
  }

  .user-menu__logout:hover {
    color: var(--dark-txt);
  }

  .popup__content {
    background-color: var(--dark-card-bg);
  }

  .popup__close-btn {
    color: var(--dark-txt);
  }

  .popup__form .input {
    background-color: var(--dark-card-bg);
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .task__description {
    line-height: 100%;
  }
}

@media (max-width: 550px) {
  .board {
    padding: 0;
  }

  .kanban__inner {
    justify-content: unset;
  }
}

@media (max-width: 370px) {
  .column {
    width: 250px;
  }
}
