:root {
  --bg: rgb(245, 241, 241);
  /* --dark-bg: rgb(53, 52, 52); */
  --card-bg: #fdfbfb;
  /* --dark-card-bg: rgb(90, 88, 88); */
  --light-border: grey;
  --txt: rgb(26, 24, 24);
  /* --dark-txt: #f3f1f1; */
  --control-btns: rgba(128, 128, 128, 0.5);
  /* --dark-control-btns: #fdfbfbd8; */
}

*,
*::before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
html {
  font-size: 100%;
}

html[dark] {
  --bg: rgb(53, 52, 52);
  --card-bg: rgb(90, 88, 88);
  --light-border: grey;
  --txt: #f3f1f1;
  --control-btns: #fdfbfbd8;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--txt);
  background-color: var(--bg);
  position: relative;
}

.header {
  display: flex;
  width: 100%;
  padding: 1em 0;
  margin-bottom: 2em;
}
.page-container {
  max-width: 1960px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__new-task {
  background-color: tomato;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all 0.5s;
}

.header__new-task:hover {
  transform: rotate(90deg);
}

.header__title {
  font-size: 1rem;
  transform: translate(50%, 0);
}
.user-menu {
  display: flex;
  align-items: baseline;
}

.theme-switcher {
  margin-right: 1em;
  font-size: 1rem;
}

.theme-switcher {
  color: tomato;
  transition: color 0.5s;
}

.theme-switcher:hover {
  color: var(--txt);
}

.theme-switcher i:last-child {
  display: none;
}

.theme-switcher.theme-switcher--dark i:first-child {
  display: none;
}

.theme-switcher.theme-switcher--dark i:last-child {
  display: block;
}

.user-menu__username-container {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.user-menu__username-container i {
  color: tomato;
  margin-right: 0.5em;
}

.user-manu__username {
  font-size: 1rem;
  font-weight: normal;
}
.user-menu__logout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: tomato;
  transition: all 0.5s;
  font-size: 1rem;
}

.user-menu__logout:hover {
  color: var(--txt);
}

.main {
  height: 100%;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

.board__title-wrapper {
  position: relative;
  margin-bottom: 2em;
}
.board__title-inner {
  position: relative;
}

.board__title-inner.hidden {
  display: none;
}

.board__title-inner:hover .task__btn {
  opacity: 1;
}

.board__title-inner .task__btn {
  position: absolute;
  right: -2em;
  top: 0;
  opacity: 0;
  transition: 0.5s;
}

.board__title {
  font-size: 2rem;
  text-align: center;
  max-width: 70vw;
}

.board__title-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.board__title-error-message {
  position: absolute;
  bottom: -1.5em;
  color: tomato;
  font-size: 0.7rem;
  white-space: nowrap;
  left: 0;
}

.board__title-error-message.hidden {
  display: none;
}

.board__title-input-wrapper.hidden {
  display: none;
}

.board__title-input.input {
  margin-bottom: 0;
}

.kanban {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.kanban__inner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100%;
}

.column::before {
  content: attr(data-column-id);
}

.column:not(:last-child) {
  margin-right: 1em;
}

.column__title {
  font-size: 0.9rem;
  margin-bottom: 1em;
}
.column-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  min-height: 200px;
  height: 100%;
  border-radius: 10px;
}

.column-list__item {
  margin-bottom: 0.7em;
  width: 100%;
}
.task {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 1.5em 1em 0.5em 1em;
  transition: all 0.5s;
  cursor: pointer;
  background-color: var(--card-bg);
  cursor: -webkit-grab;
  cursor: grab;
}

.task::before {
  content: attr(data-task-id);
  color: tomato;
}

.task:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.task:hover {
  box-shadow: 4px 4px 8px 0px rgb(255, 99, 71, 0.2);
}

.task:hover .task__controls {
  opacity: 1;
}

.task__controls {
  display: flex;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  opacity: 0;
  transition: opacity 0.5s;
}
.task__btn {
  font-size: 0.75em;
  color: var(--control-btns);
  transition: color 0.5s;
}

.task__btn:hover {
  color: tomato;
}

.task__btn.task__btn--check {
  font-size: 1rem;
  margin-left: 0.7em;
}

.task__title {
  margin-bottom: 0.5em;
}
.task__description {
  margin-bottom: 0.5em;
}

.time-tracker {
  display: flex;
  align-items: center;
  opacity: 0.5;
  transition: 0.5s;
}

.time-tracker:hover,
.time-tracker:active {
  opacity: 1;
}

.time-tracker__btn-wrapper {
}
.time-tracker__btn {
  color: var(--txt);
  transition: 0.5s;
  padding: 0;
  margin-right: 0.5em;
}

.time-tracker__btn:hover {
  color: tomato;
}

.time-tracker__btn.hidden {
  display: none;
}

.time-tracker__time {
  display: flex;
  align-items: center;
}

.time-tracker__time-result {
  font-size: 0.7rem;
  margin-left: 0.3em;
}

.on-hold .task {
  background-color: tomato;
}

.on-hold {
  border: 2px dashed rgb(187, 117, 183);
}

.hidden {
  display: none;
}

.hovered {
  background-color: rgb(255, 99, 71, 0.1);
}

/*popup*/

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  left: 0;
  top: 0;
}

.popup.hidden {
  display: none;
}

.popup__content {
  background-color: var(--card-bg);
  max-width: 500px;
  width: calc(100% - 2em);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  box-shadow: 4px 4px 8px 0px rgb(255, 99, 71, 0.2);
  z-index: 11;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 2em;
  border-radius: 10px;
  border-bottom: 2px solid tomato;
}

.popup__close-btn {
  position: absolute;
  color: var(--txt);
  right: 1em;
  top: 1em;
  font-size: 1.2em;
  transition: color 0.5s;
}

.popup__close-btn:hover {
  color: tomato;
}

.add-task-popup {
}

.popup__title {
  margin-bottom: 1em;
}
.popup__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input {
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 0.5em;
  width: 100%;
  border: 2px solid var(--light-border);
  outline: tomato;
  font-family: "IBM Plex Sans", sans-serif;
  transition: border 0.5s;
  background-color: transparent;
  color: inherit;
}

input.errored {
  border-color: #d52c4c;
}

.input:active,
.input:focus {
  border-color: tomato;
}

.input::-webkit-input-placeholder {
  font-family: "IBM Plex Sans", sans-serif;
}

.input::-moz-placeholder {
  font-family: "IBM Plex Sans", sans-serif;
}

.input:-ms-input-placeholder {
  font-family: "IBM Plex Sans", sans-serif;
}

.input::-ms-input-placeholder {
  font-family: "IBM Plex Sans", sans-serif;
}

.input::placeholder {
  font-family: "IBM Plex Sans", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

textarea.input {
  resize: vertical;
}

.submit-btn {
  background-color: tomato;
  color: #fff;
  border-radius: 10px;
  padding: 0.5em 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.5s;
  opacity: 1;
}

.submit-btn:hover {
  -webkit-filter: brightness(1.3);
  filter: brightness(1.3);
}

.submit-btn:active {
  background-color: rgb(212, 79, 55);
  opacity: 0.9;
}

/*auth*/

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.auth.hidden {
  display: none;
}
.auth__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  padding: 0 1em;
  width: 100%;
}

.auth__inner.hidden {
  display: none;
}

.auth__form,
.signup__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.auth__form.hidden,
.signup__form.hidden {
  display: none;
}

.auth__title {
  margin-bottom: 1em;
}

.auth__btns,
.signup__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth__sign-up {
  color: tomato;
  margin-left: 0.5em;
  font-size: 0.7rem;
  transition: color 0.5s;
}

.auth__sign-up:hover {
  color: var(--txt);
}

.error-message {
  z-index: 101;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  color: tomato;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid tomato;
  font-size: 0.7em;
}

.error-message__txt {
  margin-left: 0.5rem;
}

.error-message.hidden {
  display: none;
}

@-webkit-keyframes swing {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.swing {
  -webkit-animation: swing 0.5s ease;
  animation: swing 0.5s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: var(--bg);
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%);
  z-index: 101;
}

.loader.hidden {
  display: none;
}

.circle-outter {
  width: 50px;
  height: 50px;
  /* border-radius: 50%;
  background-color: rgb(255, 99, 71, 0.5); */
  position: relative;
}

.circle-inner-two {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid tomato;
  border-style: inset;
  -webkit-animation: 1s loader infinite;
  animation: 1s loader infinite;
}

.circle-inner {
  width: 80%;
  height: 80%;
  background-color: var(--bg);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .task__description {
    line-height: 100%;
  }
}

@media (max-width: 550px) {
  .board {
    padding: 0 1em;
  }

  .kanban__inner {
    justify-content: unset;
  }
}

@media (max-width: 370px) {
  .column {
    width: 250px;
  }
}
